@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    /* background: url(/images/layered-peaks-haikei.svg); */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
}
h2{
    font-family: 'Raleway', sans-serif;
}
.header{
    position: sticky;
    top: 0;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.418);
}
.titulo_nav{
    margin-left: 40px;
    font-size: 40px;
}
.naranja{
    color: chocolate;
}
.menu{
    display: flex;
    margin-right: 30px;

}
.navitems{
    list-style: none;
    margin-right: 30px;
    transition: all 0.1s ease;
}
.navlinks{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.navitems:hover{
    transform: scale(1.05);
    border-bottom:2.5px solid chocolate ;
}



/* INICIO */
.inicio{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    background-color: #e6e7e7d8;
    margin: 20px 20px 40px;
    width: 93%;
    height: 80vh;
    border-radius: 5px;
    box-shadow: -10px 15px 5px rgba(0, 0, 0, 0.589);
    padding-top: 0px;
}
.presentacion{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.titulo{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.presentacion-items{
    list-style: none;
    display: flex;
    font-size: 15px;
}
.presentacion-items li{
    margin-right: 10px;
    margin-bottom: 10px;
}

.imagen{
    display: flex;
    justify-content: center;
}
.imagen-container{
    width: 200px;
    height: 200px;
    background-image: url(/images/profile.webp);
    background-position:bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}
.hablemos{
    display:flex ;
    justify-content: center;
}
.chocolate{
    color: chocolate    ;
}

.btn{
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding: 7px 20px 7px 20px;
    border-radius: 15px;
    border:2px solid #141414;
    background-color: transparent;
    margin-right: 20px;
    transition: all ease 0.2s;
    font-size: 14px;
}
.btn:hover{
    background-color: #1c1a1f;
    cursor: pointer;
    color: white;
    border:2px solid rgba(253, 162, 97, 0.616);
    transform: scale(1.05);
    box-shadow: -3px 6px 4px 2px #202425;
}


/* HABILIDADES VERSIÓN MÓBIL PRIMERO */

#habilidades{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95vh;
    width: 100%;
    background-color: #2d2a32;
    padding-top: 30px;
}
.titulo-skill{
    margin-top: 10px;
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{
    display: flex;
    justify-content: center;
    padding: 5px;
    height: 120px;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.918);
    margin-bottom:20px;
    font-size: 12px;
    border-radius:5px;
    box-shadow: -10px 10px 15px black;
    transition: all 0.2s ease;
}
.card:hover{
    transform: translateX(10px) translateY(-5px);
    cursor: pointer;
    box-shadow: -13px 13px 8px black;
}
.titulo-skill{
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    color: white;
}
.titulo-skill h2{
    font-size: 30px;
    color: white;
    background-color: #161518;
    border-radius:5px;
    margin-bottom: 7px;
    padding: 0px 7px;
    font-weight: 500;
    font-family: 'Roboto Mono', monospace;

}
.titulo-skill p{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}
.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skill h2{
    display: flex;
    justify-content: center;
    color: white;
    background-color: #161518;
    width: 150px;
    padding: 5px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.skill img{
    height: 50px;
    width: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* CONTACT ME - MOBIL FIRST */
#contacto{
    background-color: #202425;
    height: 90vh;
    margin-top: -20px;
}
.contact_me{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    padding: 30px;
    color: white;
    width: 100vw;
}
.contact_me h1{
    /* background-color: blue; */
    font-size: 30px;
}
.contact_me h2{
    /* background-color: blue; */
    font-size: 20px;
    color: rgb(214, 114, 42);
}
.contact_me h3{
    font-weight: normal;
}
.contact_options{
    display: flex;
    justify-content: center;
    /* background-color: red; */
    height: 250px;
    width: 95%;
    flex-wrap: wrap;
}
.contact{
    display: flex;
    justify-content: left;
    text-align: center;
    background-color: #36393a;
    margin: 5px;
    width: 250px;
    height: fit-content;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
}
.contact_me_icons{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.contact_link{
    color: white;
    text-decoration: none;
}
.copyright{
    display: flex;
    justify-content: center;
    background-color: #202425;
    border-top: chocolate 2px solid;
    margin-top: 10px;
    height: 30px;
}
.c{
    font-size: 12px;
    color: white;
    padding-top: 5px;
    font-weight: normal;
}



/* ---------------------------------------------------------- */

@media only screen and (max-width: 575px){
    .navlinks{
        font-size: 16px;
    }
}
@media only screen and (min-width:576px) and (max-width:1050px){

}

@media only screen and (min-width:1060px){

}


