@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    /* background: url(/images/layered-peaks-haikei.svg); */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
}
a{
    text-decoration: none;
    color: black;
}
.hablemos:hover{
    color: white;
}
h2{
    font-family: 'Raleway', sans-serif;
}
h1{
    font-family: 'Roboto Mono', monospace;
}
.header{
    position: sticky;
    top: 0;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.418);
}
.titulo_nav{
    margin-left: 40px;
    font-size: 40px;
}
.naranja{
    color: chocolate;
}
.menu{
    display: flex;
    margin-right: 30px;

}
.navitems{
    list-style: none;
    margin-right: 30px;
    transition: all 0.1s ease;
}
.navlinks{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.navitems:hover{
    transform: scale(1.05);
    border-bottom:2.5px solid chocolate ;
}



/* INICIO */
.inicio{
    display: flex;
    justify-content: center;
    background-color: #e6e7e7d8;
    margin: 20px 20px 40px;
    width: 93%;
    height: 80vh;
    border-radius: 5px;
    box-shadow: -10px 15px 5px rgba(0, 0, 0, 0.589);
    padding-top: 0px;
}
.presentacion{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.titulo{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.presentacion-items{
    list-style: none;
    display: flex;
    font-size: 15px;
}
.presentacion-items li{
    margin-right: 10px;
    margin-bottom: 10px;
}

.imagen{
    display: flex;
    justify-content: center;
}
.imagen-container{
    width: 200px;
    height: 200px;
    background-image: url(/images/profile.webp);
    background-position:bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}
.hablemos{
    display:flex ;
    justify-content: center;
}
.chocolate{
    color: chocolate    ;
}

.btn{
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding: 7px 20px 7px 20px;
    border-radius: 15px;
    border:2px solid #141414;
    background-color: transparent;
    margin-right: 20px;
    transition: all ease 0.2s;
    font-size: 14px;
}
.btn:hover{
    background-color: #1c1a1f;
    cursor: pointer;
    color: white;
    border:2px solid rgba(253, 162, 97, 0.616);
    transform: scale(1.05);
    box-shadow: -3px 6px 4px 2px #202425;
}


/* HABILIDADES VERSIÓN MÓBIL PRIMERO */

#habilidades{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95vh;
    width: 100%;
    background-color: #2d2a32;
    padding-top: 30px;
}
.titulo-skill{
    margin-top: 10px;
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{
    display: flex;
    justify-content: center;
    padding: 5px;
    height: 120px;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.918);
    margin-bottom:20px;
    font-size: 12px;
    border-radius:5px;
    box-shadow: -10px 10px 15px black;
    transition: all 0.2s ease;
}
.card:hover{
    transform: translateX(10px) translateY(-5px);
    cursor: pointer;
    box-shadow: -13px 13px 4px black;
}
.titulo-skill{
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    color: white;
}
.titulo-skill h2{
    font-size: 30px;
    color: white;
    background-color: #161518;
    border-radius:5px;
    margin-bottom: 7px;
    padding: 0px 7px;
    font-weight: 500;
    font-family: 'Roboto Mono', monospace;

}
.titulo-skill p{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}
.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skill h2{
    display: flex;
    justify-content: center;
    color: white;
    background-color: #161518;
    width: 150px;
    padding: 5px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.skill img{
    height: 50px;
    width: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* -------------- PROYECTOS ------------*/
#proyectos {
    height: 100vh;
    width: 100vw;
    margin-top: 10px;
    margin-left: 5px;
    padding-left: 10px;
    padding-top: 10px;
}
#proyectos h1{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-size: 30px;
}
.proyectos-items{
    display: flex;
}
.container-proyectos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
    overflow: hidden;
}
.container-proyectos h2{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    width: 170px;
    color: white;
    background-color: #2d2a32;
    font-family: 'Poppins', sans-serif;
}
.link-proyecto{
    text-decoration: none;
    color: cornflowerblue;
    font-size: 0.9rem;
}
.item-proyecto{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #e6e7e7d8;
    padding-right: 7px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 130px;
    height: 80px;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow:  -2px 2px 8px #201f1f;
    transition: all 0.2s ease;
}
.item-proyecto:hover{
    box-shadow:  -3px 3px 4px #201f1f;
    transform: translateX(10px) translateY(-3px);
}
.descripcion{
    font-size: 14px;
    padding-right: 10px;    
    padding-left: 10px;
    display: flex;
    align-items: center;
    background-color: #e6e7e7d8;
    width: 50vw;
    height: 80px;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
    /* box-shadow:  -2px 2px 8px #201f1f; */
}


/* CONTACT ME - MOBIL FIRST */
.contacto{
    width: 100%;
    height: fit-content;
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacto h2{
    display: flex;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    font-weight: 600;
    color: white;
    background-color: #2d2a32;
    border-top: 3px solid rgb(231, 131, 59);
    width: 100vw;
    padding: 0px 30px 1px 10px; 
    border-radius: 1px;
    margin-bottom: 40px;
}
.contacto-items{
    color: #FFFFFF;
    padding: 5px 35px;
    height: 400px;
    margin-bottom: 20px;
    background-color: #333232;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 7px;
    box-shadow:  -8px 8px 4px #201f1f;
    transition: all ease 0.2s;
}
.contacto-items:hover{
    box-shadow:  -12px 12px 4px #1b1a1a ;
    transform: translateX(10px) translateY(-15px);
}
.item{
    display: flex;
    align-items: center;
}
.item p{
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.link-item .whatssapp{
    background-image: url(/images/whatsapp.svg);
    height: 50px;
    width: 50px;
    margin-right: 10px;
    list-style: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.link-item .github{
    background-image: url(/images/github.svg);
    height: 50px;
    width: 50px;
    margin-right: 10px;
    list-style: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.link-item .correo{
    background-image: url(/images/google.svg);
    height: 50px;
    width: 50px;
    margin-right: 10px;
    list-style: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}





/* ---------------------------------------------------------- */

@media only screen and (max-width: 575px){
    .navlinks{
        font-size: 14px;
    }
    .navitems{
        margin-right: 10px;
    }
}
@media only screen and (min-width:576px) and (max-width:1050px){
    .navlinks{
        font-size: 18px;
    }
    .presentacion{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .titulo{
        font-size: 20px;
        width: 100%;
    }
    .presentacion-items{
        font-size: 17px;
        padding: 0px;
    }

    /* Skills */
    .titulo-skill h2{
        font-size: 35px;
    }
    #habilidades{
        height: 80vh;
    }
    .card{
        display: flex;
        justify-content: center;
        min-height: 300px;
        max-height: 340px;
        width:20vw;
        background-color: rgba(255, 255, 255, 0.918);
        margin-bottom:20px;
        font-size: 12px;
        border-radius:5px;
        box-shadow: -10px 10px 15px black;
        transition: all 0.2s ease;
    }
    .skill{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .skills{
        display: flex;
        gap: 3em;
    }
    .skill img{
        min-height: 80px;
        max-height: 120px;
        width: auto;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .skill h2{
        display: flex;
        justify-content: center;
        color: white;
        background-color: #161518;
        max-width: 110px;
        padding: 5px;
        font-size: 1.01rem;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
    }

    /* Contacto */
    .contacto-items{
        color: #FFFFFF;
        padding: 5px 35px;
        height: 200px;
        width: 90vw;
        margin-bottom: 20px;
        background-color: #333232;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-radius: 7px;
        box-shadow:  -8px 8px 4px #201f1f;
        transition: all ease 0.2s;
        overflow: hidden;
    }
    .item{
        margin-right: 50px;
    }
    .item p{
        font-size: 0.9em;
    }
    .link-item .github,.whatssapp,.correo{
        width: 8vw;
    }

    /* PROYECTOS */
    .descripcion{
        display: flex;
        justify-content: center;
        width: 55vw;
        font-size: 17px;
        box-shadow:  -2px 2px 8px #201f1f;
    }
    .proyectos-items{
        display: flex;
        justify-content: center;
    }
    .item-proyecto{
        width: 140px;
        font-size: 17px;
    }
}

@media only screen and (min-width:1060px){
    .navlinks{
        font-size: 18px;
    }
    .presentacion{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .titulo{
        font-size: 20px;
        width: 100%;
    }
    .presentacion-items{
        font-size: 17px;
        padding: 0px;
    }

    /* Skills */
    .titulo-skill h2{
        font-size: 35px;
    }
    #habilidades{
        height: 80vh;
    }
    .card{
        display: flex;
        justify-content: center;
        min-height: 300px;
        max-height: 340px;
        width:20vw;
        background-color: rgba(255, 255, 255, 0.918);
        margin-bottom:20px;
        font-size: 12px;
        border-radius:5px;
        box-shadow: -10px 10px 15px black;
        transition: all 0.2s ease;
    }
    .skill{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .skills{
        display: flex;
        gap: 3em;
    }
    .skill img{
        min-height: 80px;
        max-height: 120px;
        width: auto;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .skill h2{
        display: flex;
        justify-content: center;
        color: white;
        background-color: #161518;
        max-width: 110px;
        padding: 5px;
        font-size: 1.01rem;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
    }

    /* Contacto */
    .contacto-items{
        color: #FFFFFF;
        padding: 5px 35px;
        height: 200px;
        width: 90vw;
        margin-bottom: 20px;
        background-color: #333232;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-radius: 7px;
        box-shadow:  -8px 8px 4px #201f1f;
        transition: all ease 0.2s;
    }
    .item{
        margin-right: 50px;
    }
    .item p{
        font-size: 0.9em;
    }
    .link-item .github,.whatssapp,.correo{
        width: 8vw;
    }

    /* PROYECTOS */
    .descripcion{
        display: flex;
        justify-content: center;
        width: 55vw;
        font-size: 17px;
        box-shadow:  -2px 2px 8px #201f1f;
    }
    .proyectos-items{
        display: flex;
        justify-content: center;
    }
    .item-proyecto{
        width: 200px;
        font-size: 18px;
    }
    .link-proyecto{
        font-size: 16px;
    }
}


